<h3>Збережено!</h3>

<style>
    body {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
        padding: 30px;
        text-align: center;
        line-height: 1.6;
        background-color: #e8e8e8;
        color: #333333;
    }
</style>
